.certifications {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);

    background-color: #EFEFEF;
    color:black;

    text-align: center;
    padding: 60px 20px 80px;
}

/* TÍTULO */
.certifications h2 {
    font-size: clamp(45px, 6vw, 70px);
    margin-bottom: 20px;
    font-weight: 800;

}

/* SUBTÍTULO */
.certifications p {
    font-size: clamp(26px, 2vw, 22px);
    font-weight: 300;
    margin-bottom: 50px;
    color:black;


}

/* GRID DE LOGOS */
.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-bottom: 40px;
}

/* tamaño uniforme de logos */
.logos img {
    width: 190px;
    height: auto;
    opacity: 0.95;
    transition: 0.3s ease;
}

.logos img:hover {
    opacity: 1;
    transform: scale(1.05);
}

/* BOTÓN */
.conoceMas {
    padding: 12px 32px;
    font-size: 18px;
    font-weight: 500;

    color: black;
    background: white;

    border: 2px solid white;
    border-radius: 999px; /* pill */

    cursor: pointer;
    transition: 0.3s ease;

    width: 360px;
    margin: 0 auto;

    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.conoceMas:hover {
    background: rgba(255, 255, 255, 0.85);
    transform: scale(1.03);
}

/* RESPONSIVE */
@media (max-width: 700px) {
    .logos {
        flex-direction: column;
        gap: 2rem;
    }
}
