.contacto {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background-color: #ffffff;
    padding: 4rem 1rem;
}

.contactoHeader {
    text-align: center;
    margin-bottom: 3rem;
}

.contactoHeader h2 {
    font-size: 48px;
    margin: 0;
}

.contactoHeader p {
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    color: black;
}

.contactoGrid {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

/* INFO ITEMS */
.infoItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.icon {
    font-size: 28px;
}

.infoItem h4,
.infoItem p {
    color: #000 !important;
    margin: 0;
    padding: 5px;
}

.mapaWrapper {
    margin-top: 2rem;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.mapa {
    width: 100%;
    height: 100%;
    border: 0;
}


/* FORMULARIO */
.formulario {
    background: #fff;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 5px 18px rgba(0,0,0,0.1);
}

.formulario h3 {
    margin-top: 0;
    font-size: 28px;
    text-align: center;
}

.formDesc {
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
    text-align: center;
}

.formRow {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
    color: #000;
}

input,
textarea {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    margin-bottom: 1rem;
    outline: none;
}

textarea {
    height: 120px;
    resize: none;
}

.btnEnviar {
    margin-top: 0.5rem;
    width: 100%;
    padding: 14px;
    background: #042c62;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btnEnviar:hover {
    background: #063a85;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .contactoGrid {
        grid-template-columns: 1fr;
    }
}
