.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
}

/* NAV general */
.nav {
    display: flex;
    gap: 1.5rem;
}

/* Ocultar menú en móvil */
.menuButton {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.menuIcon {
    width: 32px;
    height: 32px;
    color: black;
}

.logoImg {
    width: 100px;        /* tamaño fijo */
    height: auto;        /* mantiene proporción */
    object-fit: contain; /* evita deformación */
}


/* ====== MOBILE ====== */
@media (max-width: 900px) {
    .nav {
        position: absolute;
        top: 80px;
        right: 0;
        background: white;
        flex-direction: column;
        padding: 1.5rem;
        gap: 1rem;
        border-radius: 8px;
        display: none;
        box-shadow: 0 5px 18px rgba(0,0,0,0.15);
    }

    .navOpen {
        display: flex;
    }

    .menuButton {
        display: block;
    }
}
