.ingenieriaHero {
    width: 100vw;
    height: 60vh;
    max-height: 900px;
    min-height: 500px;
    color: white;
    overflow: hidden;
    margin-left: calc(50% - 50vw);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 32px;
}

.ingenieriaHero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at 20% 20%, rgba(0, 0, 0, 0.52), rgba(0,0,0,0.85));
    z-index: 1;
}

.ingenieriaVideo {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: 0;
}

.ingenieriaContent {
    position: relative;
    z-index: 2;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 32px;
}

.ingenieriaContent h2 {
    margin: 0 0 24px 0;
    font-size: clamp(50px, 6vw, 72px);
    line-height: 1.05;
    font-weight: 800;
    text-shadow: 0 2px 8px rgba(0,0,0,0.7);
}

.ingenieriaContent p {
    max-width: 900px;
    line-height: 1.6;
    font-size: clamp(26px, 1.9vw, 20px);
    text-shadow: 0 1px 4px rgba(0,0,0,0.7);
    text-align: justify;
    margin-bottom: 20px;
}

.ingenieriaContent ul {
    margin-left: 20px;
    margin-bottom: 32px;
    font-size: clamp(26px, 2vw, 22px);
    text-shadow: 0 1px 4px rgba(0,0,0,0.7);
    list-style-type: disc;


}

.conoceMas {
    margin-top: 12px;
    padding: 12px 32px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 999px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 220px;
    text-align: center;
}
